@import '../../../../styles/variables.scss';

.header {
    
    &__container {
    display: flex;
    justify-content: space-between;
    width: 1024px;
    margin: auto;
    height: 70px;
    line-height: 70px;
    }

    &__user {
    transition: .2s ease-in;
    margin-left: 20px;
    color: $golden;
    text-decoration: none;

        &:hover {
        color: $golden-dark;
        }
    }

    &__logout {
        padding: 5px 10px;
        background-color: $golden;
        border-radius: 5px;
        color: $black-steel;
        margin-right: 15px;
        outline: none;
        width: 60px;
        cursor: pointer;

        &:hover {
            background-color: $golden-dark;
        }
    }
}