.header {
    
    &__container {
    display: flex;
    justify-content: space-between;
    width: 1024px;
    margin: auto;
    height: 70px;
    line-height: 70px;
    }

    &__user {
    transition: .2s ease-in;
    margin-left: 20px;
    color: #feda6a;
    text-decoration: none;

        &:hover {
        color: rgb(207, 177, 86);
        }
    }
}