.search__container {
    display: flex;
    align-content: center;
}

.search__input {
    padding: 5px;
    outline: none;
    background: #f2f2f2;
}

.search__icon {
    color: #feda6a;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.5em;
    transition: .2s ease-in;

    &:hover {
       color: rgb(207, 177, 86)
    }
}
