@import '../../../../../styles/variables.scss';

.search__container {
    display: flex;
    align-content: center;
}

.search__input {
    padding: 5px;
    outline: none;
    background: $light-gray;
}

.search__icon {
    color: $golden;
    margin-left: 10px;
    cursor: pointer;
    font-size: $icon-font-size;
    transition: .2s ease-in;

    &:hover {
       color: $golden-dark;
    }
}
