//colors
$golden: #feda6a;
$golden-dark: rgb(207, 177, 86);
$black-steel: #1d1e22;
$dark-steel: #393f4d;
$light-gray: #f2f2f2;
$white-color: #fff;
$top-rated-course-color: #f00;
$header-color: rgb(211, 208, 208);

//font-size
$duration-font-size: 0.8rem;
$icon-font-size: 1.5rem;
$button-font-size: 1rem;