html {
  box-sizing: border-box;
  height: 100%;
}

*, 
*:before, 
*:after {
box-sizing: inherit;
}

body {
margin: 0;
padding: 0;
line-height: 1.618;
font-family: Sintony-Regular, sans-serif;
background: gray;
height: 100%;
}